# Install python 3.5 (or higher as might be the case with Ubuntu).  The
# requirement comes from one of our python scripts that uses os.scandir()
# (introduced in 3.5)

- block:
    # For Ubuntu 16.04 and up, python 3.5 is in the standard repo.
    - name: Install python3
      apt: name=python3 state=present

    # On CentOS, you get a working venv module out of the box when installing
    # python3.5. Not so on Ubuntu.
    - name: Install python3-venv
      apt: name=python3-venv state=present
  when:
    - ansible_distribution == 'Ubuntu'
  become: true

- block:
    # The EPEL-release only has 3.4 - use the IUS repo instead.
    - name: Add the IUS repo
      yum: name=https://centos7.iuscommunity.org/ius-release.rpm state=present

    - name: Install python3
      yum: name=python35u state=present

    - name: Create symbolic link for python3
      file: dest=/usr/bin/python3 src=/bin/python3.5 state=link
  when:
    - ansible_distribution == 'CentOS'
  become: true

- name: Check that python3 version is >= 3.5
  shell: "python3 --version 2>&1 | grep -q '^Python 3.[56789]'"
  changed_when: false  
