[defaults]
callback_plugins=plugins/callback

display_skipped_hosts = False

# Enable fact caching
gathering = smart

# Use a custom stdout callback to suppress output skipped tasks. This
# functionality doesn't completely exist within stock ansible, or is broken.
# Look in $PWD/plugins/callback/skippy_custom.py
stdout_callback = skippy_custom

# A low fact caching benefit, mostly useful during development.
fact_caching_timeout = 3600
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_fact_cache

[ssh_connection]
# We enable pipelining because it's faster and because it helps with executing
# tasks that have 'become_user'.
# https://docs.ansible.com/ansible/intro_configuration.html#pipelining
pipelining = True
