[defaults]
retry_files_enabled = False
stdout_callback = yaml
vault_password_file = ~/.vault_password
display_skipped_hosts = no
gathering = smart
fact_caching = jsonfile
fact_caching_timeout = 3600
fact_caching_connection = /tmp/ansiblecache

[ssh_connection]
pipelining = True
