# Build mainman images
#   deploy mailman mailman_build
#
# Copy build files but do not build nor start containers.
#   deploy mailman mailman_build -edocker_do_build=False
- hosts: fsicos2.lunarc.lu.se
  become: true
  vars:
    mailman_username: mailman
  roles:
    - role: icos.mailman
      tags: mailman

    - role: icos.bbclient
      tags: bbclient
      vars:
        bbclient_user: "{{ mailman_username }}"
        bbclient_coldbackup_crontab: { hour: 02, minute: 40 }
