# /etc/systemd/system/postgrestunnel.service
[Unit]
Description=SSH connection from production to workstation, with a tunnel in the opposite direction.
After=network.target

[Service]
RestartSec=5
Restart=always
ExecStart=/usr/bin/ssh -v -NT -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -R 5433:localhost:5433 pgmaster@cdb.nateko.lu.se

[Install]
WantedBy=multi-user.target

