# bbserver on fsicos2
#   deploy base bbserver -lfsicos2*
#
# borgmon script on fsicos2
#   deploy base bbserver_monitor -lfsicos2*

- hosts: physical_servers
  become: true
  roles:
    - role: icos.server
      tags: server

    - role: icos.docker
      tags: docker

    - role: icos.nginx
      togs: nginx

- hosts: bbservers
  roles:
    - role: icos.bbserver
      tags: bbserver
