- name: Set timezone to Europe/Stockholm
  timezone:
    name: Europe/Stockholm
  notify: Restart crond

- name: Install packages
  apt:
    name:
      - git
      - mg   # microemacs
      - htop # a better top(1)
      - jq   # like sed for json
      - make # party like it's 1976
      - netcat-openbsd
      - tree
      - mailutils
      - mutt

- name: Install bash aliases
  lineinfile:
    path: /root/.bash_profile
    line: "{{ item }}"
    state: present
    create: yes
  loop:
    - "alias sc='systemctl'"
    - "alias jc='journalctl'"
    - "alias df='df -h -x tmpfs -x overlay -x devtmpfs'"

- name: Copy utilities
  tags: linux_utils
  copy:
    src: "{{ item }}"
    dest: "/usr/local/sbin/{{ item }}"
    mode: 0755
  loop:
    - retrieve-original
    - iptables-remove-duplicates

- name: Install ss(1) wrapper
  copy:
    mode: 0755
    dest: /usr/local/sbin/ss
    content: |
      #!/bin/sh
      # ss(1) is frivolous with whitespace which makes output hard to read. This
      # script will compress the column-separating whitespace when printing to a
      # terminal.

      if [ -t 1 ]; then
          exec /bin/ss "$@" | column -t
      else
          exec /bin/ss "$@"
      fi

- name: Allowing inbound SSH
  ufw:
    rule: allow
    port: ssh
    comment: ssh

- name: Allowing inbound mosh
  ufw:
    rule: allow
    port: 60000:61000
    proto: udp
    comment: mosh

- name: Enabling UFW with default deny policy
  ufw:
    state: enabled
    policy: deny
    direction: incoming
