# This file installs the script/service/trigger needed to keep the new-style and
# old-style stilt directory structures in sync (by hardlinking them).

- name: Install stiltweb->stilt sync script
  template:
    src: sync-stiltweb-to-stilt.py
    dest: "{{ stiltweb_bin_dir }}/sync-stiltweb-to-stilt.py"
    mode: 0755
    owner: "{{ stiltweb_username }}"
    group: "{{ stiltweb_username }}"


- name: Install stiltweb->stilt sync service
  copy:
    dest: /etc/systemd/system/sync-stiltweb-to-stilt.service
    content: |
        [Service]
        User={{ stiltweb_username }}
        WorkingDirectory={{ stiltweb_home_dir }}
        ExecStart={{ stiltweb_bin_dir }}/sync-stiltweb-to-stilt.py --sync
        # Since this service might run often and since it spawn a lot of
        # parallel processes we use niceness to avoid disrupting other services.
        Nice=10

        [Unit]
        Description=Sync slots from stiltweb to classic stilt
        # These makes sure that we only run once every 10 seconds. Otherwise we
        # might trigger very often and svamp the system.
        StartLimitBurst=1
        StartLimitIntervalSec=10
  notify: reload systemd config


- name: Install stiltweb->stilt path trigger
  copy:
    dest: /etc/systemd/system/sync-stiltweb-to-stilt.path
    content: |
        [Path]
        PathChanged={{ stiltweb_statedir }}/slots

        [Unit]
        Description=Detect when stiltweb slots changes and sync them

        [Install]
        WantedBy=multi-user.target
  notify: reload systemd config


- name: Enable sync service
  service: name=sync-stiltweb-to-stilt enabled=true
