#document_presenter { padding-top:20px; padding-left: 20px; }

.block_title {  }

.document_presenter .panel-heading h3 img { width: 50px; float: left; }

.document_presenter .panel-body img { padding-right: 6px; }

@media all and (max-width: 1000px) {
    #document_presenter h3 img { display: none; }
    #document_presenter h3 a { align: left; }
}

