#block-system-main { background: transparent linear-gradient(45deg, #FFF 0%, #E6E6E6 75%) repeat scroll 0% 0%; }

.three-col .first, .three-col .second, .three-col .third { padding-left: 0px !important; padding-right: 0px !important; }

.three-col .first { width: 25% !important; }

.three-col .second { width: 50% !important; margin-left: 25% !important; }

.three-col .third { width: 25% !important; }

@media all and (max-width: 797px) {
    .three-col .first { width: 100% !important; }

    .three-col .second { width: 100% !important; }

    .three-col .third { width: 100% !important; }
}

h1.block_title {
    font-size: 2.7rem;
    line-height: 2.7rem;
    font-weight: lighter;
    height: 120px;
    text-align: center;
    background-color: #ffffff;
}

@media all and (max-width: 1600px) {
    h1.block_title {
        font-size: 2.4rem;
        line-height: 2.4rem;
        font-weight: lighter;
        height: 120px;
        text-align: center;
        background-color: #ffffff;
    }
}

@media all and (max-width: 1450px) {
    h1.block_title {
        font-size: 2.2rem;
        line-height: 2.2rem;
        font-weight: lighter;
        height: 120px;
        text-align: center;
        background-color: #ffffff;
    }
}

@media all and (max-width: 1300px) {
    h1.block_title {
        font-size: 1.9rem;
        line-height: 1.9rem;
        font-weight: lighter;
        height: 120px;
        text-align: center;
        background-color: #ffffff;
    }
}

@media all and (max-width: 1150px) {
    h1.block_title {
        font-size: 1.7rem;
        line-height: 1.7rem;
        font-weight: lighter;
        height: 120px;
        text-align: center;
        background-color: #ffffff;
    }
}

@media all and (max-width: 1000px) {
    h1.block_title {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: lighter;
        height: 20px;
        text-align: center;
        background-color: #ffffff;
    }
}