proxy_cache_path /var/cache/nginx keys_zone=alfresco-cache:512m inactive=1d;

server {
	listen       443 ssl;
    server_name  {{ certbot_domains | join(" ") }};

	{{ alfresco_certbot_nginx_conf | indent(4) }}

	client_max_body_size 1G;

	location ~ /.well-known {
		root /usr/share/nginx/html;
	}

	location = / {
		rewrite ^/$ /share;
	}

	location / {
		proxy_pass https://127.0.0.1:8444;
		proxy_set_header Host $host;
		proxy_set_header Accept-Language "";
		proxy_cache alfresco-cache;
	}

}

server {
    listen 80;
    server_name  {{ certbot_domains | join(" ") }};

    return 301 https://$server_name$request_uri;
}
