server {
	listen       443 ssl;
	server_name docs.icos-cp.eu;

{% if certbot_install_certificate | default(true) %}
	ssl_certificate /etc/letsencrypt/live/docs.icos-cp.eu/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/docs.icos-cp.eu/privkey.pem;
{% endif %}

	client_max_body_size 1G;

	location ~ /.well-known {
		root /usr/share/nginx/html;
	}

	location = / {
		rewrite ^/$ /share;
	}

	location / {
		proxy_pass https://127.0.0.1:8444;
		proxy_set_header Host $host;
		proxy_set_header Accept-Language "";
		proxy_cache alfresco-cache;
	}

}

server {
	listen    80;
	server_name  docs.icos-cp.eu;
	return 301 https://$server_name$request_uri;
}
