
# Local Drupal configuration and files etc. #
#############################################
drupal/drupal/builds
drupal/drupal/current
drupal/drupal/_build
drupal/drupal/files
drupal/drupal/conf/docker.settings.php
drupal/docker/docker-compose.yml
drupal/docker/name-prefix.txt

# Concrete local Docker configuration for Alfresco. #
#############################################
alfresco/docker-compose.yml
alfresco/name-prefix.txt

# Concrete local Docker configuration for RDF log's Postgres. #
#############################################
rdflogdb/master/build/init-db.sh
rdflogdb/master/.env
rdflogdb/master/postgrestunnel.service
rdflogdb/slave/build/recovery.conf
rdflogdb/slave/.env

# Concrete local Docker configuration for Sonatype Nexus. #
#############################################
nexus/docker-compose.yml
nexus/storage

# Concrete local Docker configuration for Kanboard. #
#############################################
kanboard/docker-compose.yml

# Concrete local Docker configuration for Jupyter Notebook. #
#############################################
jupyter/docker-compose.yml
jupyter/storage/

# Concrete local Docker configuration for STILT. #
#############################################
stilt/base/docker-compose.yml
stilt/custom/docker-compose.yml


# Concrete local Docker configuration for RESTHeart. #
#############################################
restheart/docker-compose.yml
restheart/storage/

# Concrete local Docker configuration for EUDAT client tools. #
#############################################
eudat/docker-compose.yml
eudat/irodsEnv.txt

*.*~
.idea
.editorconfig
application.conf
.cache-main
