stiltweb_username: stiltweb
stiltweb_servicename: stiltweb

# delegate to the result of ansible's user creation
stiltweb_home_dir: "{{ _stiltweb.home }}"
stiltweb_bin_dir: "{{ stiltweb_home_dir }}/bin"

# This is where stiltweb keeps it's archive of of stilt files
stiltweb_statedir: /disk/data/stiltweb

# The root of the classic stilt data directory (Footprints, RData, etc)
stiltweb_stiltdir: /disk/data/stilt

# The port that netty/akka/rpc port on the stiltweb host. Incoming stiltcluster
# connections will be redirected here.
stiltweb_port: 2550

certbot_domains: [stilt.icos-cp.eu]
certbot_conf_name: stiltweb
