# https://github.com/prometheus/node_exporter/blob/master/examples/systemd/node_exporter.service
[Unit]
Description=Node Exporter

[Service]
User={{ node_exporter_user }}
EnvironmentFile={{ node_exporter_environ }}
ExecStart={{ node_exporter_bin }} $OPTIONS

[Install]
WantedBy=multi-user.target