[Unit]
Description=ICOS file drop service
After=network.target

[Service]
Type=simple
User={{ _user.name }}
ExecStart=/usr/bin/java -jar "{{ jarservice_jar }}"
Restart=always
RestartSec=30
WorkingDirectory=/home/{{ _user.name }}

[Install]
WantedBy=multi-user.target
