- name: Create database user
  user:
    name: "{{ pgrep_user }}"
    state: present
    create_home: no
    home: "{{ pgrep_home }}"
  register: _user

- name: Create pgrep home directory
  file:
    # We creating the build directory will create the actual home directory as
    # well while giving us a chance to register _build.
    path: "{{ pgrep_home }}/build"
    state: directory
  register: _build

- name: Create pgrep volume directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ _user.uid }}"
    group: "{{ _user.group }}"
    mode: 0700
  loop:
    - "{{ pgrep_home }}/volumes/data"

- name: Install docker-compose.yml
  template:
    dest: "{{ pgrep_home }}/.docker-compose.yml"
    src: docker-compose.yml.j2
    mode: 0600
  register: _dc

- name: Syntax check the docker-compose file
  command: "docker-compose -f {{ _dc.dest }} config"
  changed_when: false

# We will leave the build requirements (indeed the whole build directory) since
# having them around aids debugging.
- name: Install docker build requirements
  template:
    dest: "{{ _build.path }}/{{ item }}"
    src: "{{ item }}.j2"
  loop:
    - Dockerfile
    - pgpass
    - entrypoint.sh
  register: _docker

- name: Install peer certificate
  copy:
    src: "{{ pgrep_peer_cert }}"
    dest: "{{ _build.path }}/peer.crt"
  register: _peer_cert

- name: Build pgrep docker image
  docker_service:
    project_src: "{{ pgrep_home }}"
    files: ['.docker-compose.yml']
    state: present
    # Contrary to the documentation, the image doesn't always get rebuilt when
    # its build directory contents change. Thus we always force a build - since
    # the results are cached it will be very quick if nothing changed.
    build: true

- name: Specialized psql scripts
  template:
    dest: "{{ pgrep_home }}/{{ item }}"
    src: "{{ item }}.sh.j2"
    mode: 0755
  loop:
    - psql
    - psql_peer
    - ctl

- name: Install sql status file
  template:
    src: status.sql.j2
    dest: "{{ pgrep_home }}/.status.sql"
    mode: 0755

- name: Install extra status file
  copy:
    content: "{{ pgrep_extra_status_file }}"
    dest: "{{ pgrep_home }}/.{{ .status-extra.sql }}"
    mode: 0755
  when: pgrep_extra_status_file is defined
