.carousel-control {
  position: relative !important; 
  background-image: none !important; 
  font-size: xx-large !important;
}

.glyphicon-chevron-left { 
  top: 0% !important; 
}

.glyphicon-chevron-right { 
  top: 0% !important; 
}

.carousel-indicators li { 
  display: none !important; 
}

.carousel-control {
  position: relative !important;
  z-index: 100;
}

.control_1_left {
  position: relative !important;
  z-index: 100;
  left: 20px !important;
  top: 50px;
}
.control_1_right {
  position: relative !important;
  z-index: 100;
  left: 96% !important;
  top: 50px;
}

.control_2_left {
  position: relative !important;
  z-index: 100;
  left: 20px !important;
  bottom: 0px;
}

.control_2_right {
  position: relative !important;
  z-index: 100;
  left: 96% !important;
  bottom: 0px;
}

#picture_slider { padding-top:20px; padding-left: 20px; padding-right: 20px; }

.block_title { font-size: 2.7rem; line-height: 2.7rem; font-weight: lighter; height: 120px; text-align: center; background-color: #ffffff; }
