# /etc/systemd/system/doi.service
[Unit]
Description=DOI minting service
After=network.target

[Service]
Type=simple
User={{ doi_user }}
ExecStart=/usr/bin/java -jar "{{ jarservice_jar }}"
Restart=always
RestartSec=30
WorkingDirectory={{ doi_home }}

[Install]
WantedBy=multi-user.target
