- name: Create cpmeta user
  user:
    name: "{{ cpmeta_user }}"
    home: "{{ cpmeta_home }}"
    shell: /bin/bash

- name: Copy SSL certs and private key for Handle.net client
  copy:
    src: ssl
    dest: "{{ cpmeta_home }}/"
    owner: "{{ cpmeta_user }}"
    group: "{{ cpmeta_user }}"

- name: Create metaAppStorage directory (if not present), take ownership
  file:
    path: "{{ cpmeta_filestorage_target }}"
    state: directory
    owner: "{{ cpmeta_user }}"
    group: "{{ cpmeta_user }}"
