# This file is appended to /etc/mailman.cfg by the mailman-core entrypoint.
# Read more at https://github.com/maxking/docker-mailman#configuration

[mta]
incoming: mailman.mta.postfix.LMTP
outgoing: mailman.mta.deliver.deliver
lmtp_host: {{ mailman_core_ipv4 }}
lmtp_port: 8024
smtp_host: {{ mailman_host_ipv4 }}
smtp_port: 25
configuration: /etc/postfix-mailman.cfg

# This section configures the Mailman REST API
# https://mailman.readthedocs.io/en/latest/src/mailman/rest/docs/rest.html
# To check whether these have taken effect, run:
#   docker-compose exec mailman-core mailman conf | grep webservice
[webservice]
admin_pass={{ mailman_rest_pass }}
admin_user={{ mailman_rest_user }}
port={{ mailman_rest_port }}