////////////////////////
// Base - Variables - Colors Partial
////////////////////////
$cyan: #0a96f0;
$magenta: #e63274;
$red: #ff0a14;
$green: #5ac850;
$blue: #005b9e;
$purple: #932784;
$orange: #f06424;
$black: #000;
$grey-90: #414042;
$grey-75: #636466;
$grey-50: #939598;
$grey-25: #c7c8ca;
$grey-10: #e6e6e6;
$grey-5: #f2f2f2;
$white: #fff;

// Default theme colors
$default-theme-color: $cyan;
$default-theme-color-highlight: $magenta;
$default-theme-color-text: $grey-90;
$default-theme-color-grey: $grey-90;
$default-theme-color-mid-grey: $grey-50;
$default-theme-color-light-grey: $grey-25;