////////////////////////
// Base - Variables - Fonts Partial
////////////////////////

// Font families
$arial: Arial, sans-serif;
$open-sans: 'Open Sans', sans-serif;

$default-font-family: $open-sans;

// Font sizes
$base-font-size: 0.9 * $rem-spacing;
$font-smaller: 0.9 * $base-font-size;
$font-small: 0.5 * $base-font-size;
$font-h1: 3 * $base-font-size;
$font-h2: 2 * $base-font-size;
$font-h3: 1.5 * $base-font-size;
$font-h4: 1.2 * $base-font-size;