////////////////////////
// Base - Variables - Grid Partial
////////////////////////

$grid-columns: 12;
$gutter: $rem-spacing;
$gutter-large: 4 * $rem-spacing;

// Base grid configuration
@include add-grid($grid-columns);
@include add-gutter($gutter);
@include add-gutter-style('split');
