
cpdata{

	upload{
		folder = "{{ cpdata_filestorage_target }}"
		irods.password = "{{ cpdata_irods_pass }}"
		b2stage.password = "{{ cpdata_b2stage_pass }}"
	}

	etcFacade{
		folder = "{{ cpdata_filestorage_target }}/etcFacadeStaging"
		secret = "{{ cpdata_etcfacade_secret }}"
	}
}

