////////////////////////
// Global - Mixins - Arrow Partial
////////////////////////

@mixin style-arrow($position: bottom, $color: theme, $direction: outward, $size: 0.5 * $rem-spacing) {
  position: relative;
  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: $size;
    @if $position == top {
      bottom: 100%;
      left: 50%;
      margin-left: -$size;
      @if $direction == outward {
        @if $color == theme {
          @include style-theme-border-color(bottom);
        }
        @else {
          border-bottom-color: $color;
        }
      }
      @else if $direction == inward {
        @if $color == theme {
          @include style-theme-border-color(top);
        }
        @else {
          border-top-color: $color;
        }
      }
    }
    @else if $position == right {
      left: 100%;
      top: 50%;
      margin-top: -$size;
      @if $direction == outward {
        @if $color == theme {
          @include style-theme-border-color(left);
        }
        @else {
          border-left-color: $color;
        }
      }
      @else if $direction == inward {
        @if $color == theme {
          @include style-theme-border-color(right);
        }
        @else {
          border-right-color: $color;
        }
      }
    }
    @else if $position == bottom {
      top: 100%;
      left: 50%;
      margin-left: -$size;
      @if $direction == outward {
        @if $color == theme {
          @include style-theme-border-color(top);
        }
        @else {
          border-top-color: $color;
        }
      }
      @else if $direction == inward {
        @if $color == theme {
          @include style-theme-border-color(bottom);
        }
        @else {
          border-bottom-color: $color;
        }
      }
    }
    @else if $position == left {
      right: 100%;
      top: 50%;
      margin-top: -$size;
      @if $direction == outward {
        @if $color == theme {
          @include style-theme-border-color(right);
        }
        @else {
          border-right-color: $color;
        }
      }
      @else if $direction == inward {
        @if $color == theme {
          @include style-theme-border-color(left);
        }
        @else {
          border-left-color: $color;
        }
      }
    }
  }
}

@mixin style-arrow-disable() {
  &:after {
    display: none;
  }
}