////////////////////////
// Global - Mixins - Button Partial
////////////////////////

@mixin style-theme-button() {
  font-size: $base-font-size;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: $rem-spacing 4 * $rem-spacing;
  margin: $rem-spacing $rem-spacing $rem-spacing 0;
  @include style-theme-border-radius();
  @include style-theme-background-color();
  &:hover {
    background: $default-theme-color-grey;
    color: $white;
  }
}

@mixin style-theme-button-title() {
  @include style-theme-color();
  font-size: $base-font-size;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  padding: $rem-spacing 0;
  // Make space for the arrow
  margin-left: $rem-spacing;
  @include style-arrow(left, theme, inward)
}