////////////////////////
// Colors
////////////////////////
@mixin style-theme-background-color() {
  background-color: $default-theme-color;
  body.cyan & {
    background-color: $cyan;
  }
  body.magenta & {
    background-color: $magenta;
  }
  body.red & {
    background-color: $red;
  }
  body.green & {
    background-color: $green;
  }
  body.blue & {
    background-color: $blue;
  }
  body.purple & {
    background-color: $purple;
  }
  body.orange & {
    background-color: $orange;
  }
}

@mixin style-theme-instance-background-color() {
  background-color: transparent;
  &.cyan {
    background-color: $cyan;
  }
  &.magenta {
    background-color: $magenta;
  }
  &.red {
    background-color: $red;
  }
  &.green {
    background-color: $green;
  }
  &.blue {
    background-color: $blue;
  }
  &.purple {
    background-color: $purple;
  }
  &.orange {
    background-color: $orange;
  }
  &.black {
    background-color: $black;
  }
  &.grey-90 {
    background-color: $grey-90;
  }
  &.grey-50 {
    background-color: $grey-50;
  }
  &.grey-10 {
    background-color: $grey-10;
  }
  &.white {
    background-color: $white;
  }
}

@mixin style-theme-instance-background-based-color() {
  &.cyan {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.magenta {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.red {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.green {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.blue {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.purple {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.orange {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.black {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.grey-90 {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
  &.grey-50 {
    color: $white;
    a {
      color: $default-theme-color-light-grey;
      &:hover {
        color: $default-theme-color-mid-grey;
      }
    }
  }
}

@mixin style-theme-background-gradient($from: top, $angle: 45deg) {
  @if $from == top {
    background: linear-gradient($angle, $grey-10 0%, $white 75%);
  }
  @else if $from == bottom {
    background: linear-gradient($angle, $white 0%, $grey-10 75%);
  }
}

@mixin style-theme-color() {
  color: $default-theme-color;
  body.cyan & {
    color: $cyan;
  }
  body.magenta & {
    color: $magenta;
  }
  body.red & {
    color: $red;
  }
  body.green & {
    color: $green;
  }
  body.blue & {
    color: $blue;
  }
  body.purple & {
    color: $purple;
  }
  body.orange & {
    color: $orange;
  }
}

@mixin style-theme-borders-color($border: all, $color: $default-theme-color) {
  @if $border == top {
    border-top-color: $color;
  }
  @else if $border == right {
    border-right-color: $color;
  }
  @else if $border == bottom {
    border-bottom-color: $color;
  }
  @else if $border == left {
    border-left-color: $color;
  }
  @else {
    border-color: $color;
  }
}

@mixin style-theme-border-color($border: all) {
  @include style-theme-borders-color($border);
  body.cyan & {
    @include style-theme-borders-color($border, $cyan);
  }
  body.magenta & {
    @include style-theme-borders-color($border, $magenta);
  }
  body.red & {
    @include style-theme-borders-color($border, $red);
  }
  body.green & {
    @include style-theme-borders-color($border, $green);
  }
  body.blue & {
    @include style-theme-borders-color($border, $blue);
  }
  body.purple & {
    @include style-theme-borders-color($border, $purple);
  }
  body.orange & {
    @include style-theme-borders-color($border, $orange);
  }
}

@mixin style-theme-background-opacity($opacity: 0.5) {
  background-color: rgba($default-theme-color, $opacity);
  body.cyan & {
    background-color: rgba($cyan, $opacity)
  }
  body.magenta & {
    background-color: rgba($magenta, $opacity)
  }
  body.red & {
    background-color: rgba($red, $opacity)
  }
  body.green & {
    background-color: rgba($green, $opacity)
  }
  body.blue & {
    background-color: rgba($blue, $opacity)
  }
  body.purple & {
    background-color: rgba($purple, $opacity)
  }
  body.orange & {
    background-color: rgba($orange, $opacity)
  }
}