////////////////////////
// Mixins - Grid Partial
////////////////////////

@mixin style-grid-maker($columns: 3, $items: 100, $prefix: ".views-row-") {
  // Grid only from l up
  // since this type of grid is already inside a region with a grid
  @include from(l) {
    $width: $grid-columns / $columns;
    $rows: ceil($items / $columns);
    $row: 0;
    @while $row < $rows {
      $column: 1;
      @while $column <= $columns {
        #{$prefix}#{$row * $columns + $column} {
          padding: $rem-spacing 0;
          @if $column == 1 {
            @include grid-span($width, $column);
            clear: both;
          }
          @else {
            @include grid-span($width, ($column - 1) * $width + 1);
          }
        }
        $column: $column + 1;
      }
      $row: $row + 1;
    }
  }
}