////////////////////////
// Global - Mixins - Tint Partial
////////////////////////

@mixin style-theme-tint-container() {
  position: relative;
}

@mixin style-theme-tint() {
  position: absolute;
  width: 100%;
  height: 100%;
  @include style-theme-background-opacity();
}

@mixin style-theme-above-tint() {
  position: relative;
  z-index: 10;
}