////////////////////////
// Modules - Content Partial
////////////////////////

.field-body, .field-ingress {
  ol {
    li {
      list-style-type: decimal;
      margin-left: $rem-spacing;
    }
  }
  ul {
    li {
      list-style-type: disc;
      margin-left: $rem-spacing;
    }
  }
}