////////////////////////
// Modules - Documents Partial
////////////////////////

.file.view-mode-teaser {
  .field-category {
    padding: $rem-spacing;
    background: $default-theme-color-grey;
    color: $white;
    text-transform: uppercase;
  }
  .field-icos-file-name {
    font-size: $font-h3;
    line-height: $font-h3;
    @include style-theme-color();
    padding: 0.5 * $rem-spacing 0;
  }
  span.file {
    display: block;
    padding: 0.5 * $rem-spacing 0;
    img {
      vertical-align: middle;
    }
  }
}
