////////////////////////
// Modules - Form Partial
////////////////////////

input[type="text"],
input[type="password"]
{
  width: 100%;
  font-size: $font-h3;
  margin: $rem-spacing 0;
  padding: 0.5 * $rem-spacing;
  background: $grey-10;
  border: none;
}

input[type="submit"] {
  @include style-theme-button();
}