////////////////////////
// Modules - Main Menu Partial
////////////////////////

$main-menu-max-height: 100 * $rem-spacing;

// Main menu first level
#block-menu-block-2 {
  background: $default-theme-color-grey;
  .broscience_mobile_menu_button {
    @include clearfix;
    color: $white;
    cursor: pointer;
    padding: $rem-spacing 0;
    text-align: center;
    .icon {
      float: left;
      margin-left: $rem-spacing;
      span {
        display: block;
        border-top: 0.2 * $rem-spacing solid $white;
        margin-bottom: 0.2 * $rem-spacing;
        width: 1.5 * $rem-spacing;
      }
    }
  }
  .content {
    transition: max-height $transition-time-fast;
    overflow: hidden;
    // Assuming the content doesn't ever get taller
    max-height: $main-menu-max-height;
    padding-top: $rem-spacing;
    &.open {
      transition: max-height $transition-time;
      // Assuming the content doesn't ever get taller
      max-height: $main-menu-max-height;
    }
    ul, ul.menu {
      padding: 0 0 $rem-spacing 0;
      li, li.leaf {
        padding: 0;
        margin: 0;
        list-style: none;
        &.first {
          a {
            // Use relative path to the final css
            background-image: url('../img/icon_home_active.min.svg');
            background-repeat: no-repeat;
            text-indent: -9999px;
            @include from(l) {
              background-position: center;
              padding: 2 * $rem-spacing;
            }
          }
        }
        a {
          display: inline-block;
          color: $white;
          text-decoration: none;
          padding: $rem-spacing;
          width: 100%;
        }
      }
    }
  }
  @include from(l) {
    .broscience_mobile_menu_button {
      display: none;
    }
    .content {
      // Assuming the content doesn't ever get taller
      max-height: $main-menu-max-height;
      padding-top: 0;
      ul, ul.menu {
        padding: 0;
        li, li.leaf {
          float: left;
          a {
            padding: 2 * $rem-spacing $rem-spacing;
            width: auto;
          }
        }
      }
    }
  }
}

// Main menu second level
#block-menu-block-1 {
  background: $grey-10;
  .content {
    transition: max-height $transition-time-fast;
    overflow: hidden;
    // Assuming the content doesn't ever get taller
    max-height: $main-menu-max-height;
    &.open {
      transition: max-height $transition-time;
      // Assuming the content doesn't ever get taller
      max-height: $main-menu-max-height;
    }
    ul, ul.menu {
      li, li.leaf {
        padding: 0;
        margin: 0;
        list-style: none;
        a {
          display: inline-block;
          padding: $rem-spacing;
          @include style-theme-color();
          text-decoration: none;
          width: 100%;
        }
      }
    }
    @include from(l) {
      // Assuming the content doesn't ever get taller
      max-height: $main-menu-max-height;
      ul, ul.menu {
        text-align: center;
        li, li.leaf {
          display: inline-block;
          a {
            width: auto;
          }
        }
      }
    }
  }
}

// Hide the menus by default only if javascript is not enabled
html.js {
  #block-menu-block-1, #block-menu-block-2 {
    .content {
      padding-top: 0;
      max-height: 0;
      @include from(l) {
        // Assuming the content doesn't ever get taller
        max-height: $main-menu-max-height;
      }
      &.open {
        transition: max-height $transition-time;
        // Assuming the content doesn't ever get taller
        max-height: $main-menu-max-height;
      }
    }
  }
}
