////////////////////////
// Modules - Messages Partial
////////////////////////

div.messages {
  border: none;
  margin: 0;
  padding: 1.5 * $rem-spacing;
  text-align: center;
  &.status {
    color: $default-theme-color-text;
    background: lighten($green, 15%);
  }
  &.warning {
    color: $default-theme-color-text;
    background: lighten($orange, 15%);
  }
  &.error {
    color: $default-theme-color-text;
    background: lighten($red, 15%);
  }
  .krumo-root {
    border: none;
    text-align: left;
  }
}