////////////////////////
// Modules - Page Partial
////////////////////////

body {
  background: $white;
}

// Small on top display
.display.small-on-top {
  > .grid-wrapper {

    // Title region
    &.title {
      background: $white;
      .region {
        &.title {
          .region-inner {
            text-align: center;
            // Page title
            .pane-page-title, .field-title {
              @include style-theme-color();
            }
            // Ingress field
            summary {
              .field-ingress {
                font-size: $font-h4;
                text-transform: uppercase;
                border-top: 0.1 * $rem-spacing dashed $grey-25;
              }
            }
          }
        }
      }
    }

    // Top 2/1 region
    &.top_2_1_1 {
      @include style-theme-background-gradient(bottom);
    }

    // Full top region
    &.full_top {
      @include style-theme-background-gradient(top);
    }

    // 3 columns region
    &.col_3_1 {
      @include style-theme-background-gradient(bottom);
    }

    // 2 columns region
    &.col_2_1 {
      @include style-theme-background-gradient(top);
    }

    // Bottom 2/1 region
    &.bottom_2_1_1 {
      @include style-theme-background-gradient(bottom);
    }

    // Full bottom region
    &.full_bottom {
      background: $white;
    }

  }

}