////////////////////////
// Modules - Views Partial
////////////////////////

.views-exposed-widget {
  label {
    padding: $rem-spacing 0;
  }
}

// Carousel
.pane-icos-reusable-lists-reusable-carousel {
  .pane-title {
    color: $white;
    padding: $rem-spacing;
    @include style-theme-background-color();
  }
  .slick-dots {
    @include style-theme-slick-dots($white, $default-theme-color-text);
  }
  div.node.view-mode-teaser {
    padding: $rem-spacing;
    .field-image {
      padding: $rem-spacing 0;
    }
  }
}

// Date and link
.view-display-id-reusable_acc_date_link {
  .views-row-even {
    background: $grey-5;
  }
}
.view-display-id-reusable_date_link {
  .views-row {
    border-bottom: 0.1 * $rem-spacing dashed $grey-25;
    &.views-row-last {
      border-bottom: none;
    }
  }
}