style:
  css:
    theme:
      css/{{ cp_cmis | default("cp_cmis") }}.css: {}

script:
  js:
    js/{{ cp_cmis | default("cp_cmis") }}.js: {}

  dependencies:
    - core/drupal
    - core/drupalSettings
    - core/jquery
    - core/jquery.once

style_files:
  css:
    theme:
      css/cp_cmis_files.css: {}
      css/bootstrap-sortable.2.2.0.css: {}

script_files:
  js:
    js/cp_cmis_files.js: {}
    js/bootstrap-sortable.2.2.0.js: {}
    js/moment.2.3.1.min.js: {}

style_documents:
  css:
    theme:
      css/{{ cp_cmis_documents | default("cp_cmis_documents") }}.css: {}

script_documents:
  js:
    js/{{ cp_cmis_documents | default("cp_cmis_documents") }}.js: {}

  dependencies:
    - core/drupal
    - core/drupalSettings
    - core/jquery
    - core/jquery.once
