style:
  css:
    theme:
{% if git_version == "redesign" %}
      css/cp_events.css: {}
  {% if cp_events | default(false) %}
      css/{{ cp_events }}.css: {}
  {% endif %}
{% else %}
      css/{{ cp_events | default("cp_events") }}.css: {}
{% endif %}

script:
  js:
    js/{{ cp_events | default("cp_events") }}.js: {}

  dependencies:
    - core/jquery
    - core/jquery.once
