style:
  css:
    theme:
      css/{{ cp_files | default("cp_files") }}.css: {}

script:
  js:
    js/{{ cp_files | default("cp_files") }}.js: {}

  dependencies:
    - core/jquery
    - core/jquery.once
