global-css:
  css:
    theme:
      css/{{ cp_theme_d8 | default("cp_theme_d8") }}.css: {}
      css/bootstrap.3.3.5.min.css: {}

global-js:
  js:
    js/cookie-notice.js: {}
    js/{{ cp_theme_d8 | default("cp_theme_d8") }}.js: {}
    js/bootstrap.3.3.5.min.js: {}

  dependencies:
    - core/drupal
    - core/drupalSettings
    - core/jquery
    - core/jquery.once
