global:
  css:
    theme:
      //static.icos-cp.eu/css/bootstrap/5.1.0/icos-bootstrap.css: { type: external, minified: true }
      //use.fontawesome.com/releases/v5.15.1/css/all.css: { type: external, minified: true }
      css/main.css: {}
      css/menu.css: {}
      css/breadcrumb.css: {}
      css/accordion.css: {}
      css/print.css: { media: print }

  js:
    //cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js: { type: external, minified: true }
    js/main.js: {}
    js/menu.js: {}
    js/cookie-notice.js: {}
{% if extra_js | default(false) %}
    js/{{ extra_js }}.js: {}
{% endif %}

  dependencies:
    - core/drupal
    - core/drupalSettings
    - core/jquery
    - core/jquery.once

menu-login:
  js:
    js/menu-login.js: {}

  dependencies:
    - core/drupal
    - core/drupalSettings
    - core/jquery
    - core/jquery.once

maintenance_page:
  css:
    theme:
      css/maintenance-page.css: {}
  dependencies:
    - system/maintenance