version: '2'
services:
  drupal:
    image: drupal:{{ drupal_version }}
    links:
      - mariadb
    ports:
      - "127.0.0.1:{{ drupal_docker_port }}:80"
    volumes:
      - ../composer/composer.json:/opt/drupal/composer.json
      - vendor:/opt/drupal/vendor
      - ../themes:/var/www/html/themes
      - ../modules:/var/www/html/modules
      - ../libraries:/var/www/html/libraries
      - ../files/default:/var/www/html/sites/default/:rw
      - ../files/repo:/var/www/html/repo/:rw
      - ../files/private:/var/www/private/
      - ../config/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
{% if website == "cp" %}
      - ../../RINGO:/var/www/html/sites/default/files/RINGO
    external_links:
      - restheart_restheart_1:restheart
{% endif %}
    restart: unless-stopped
  mariadb:
    image: mariadb:10.6
    ports:
      - "127.0.0.1:{{ mysql_docker_port }}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: {{ vault_mysql_root_password }}
      MYSQL_DATABASE: {{ database_name | default("icos") }}
      MYSQL_USER: {{ database_user | default("icos") }}
      MYSQL_PASSWORD: {{ vault_mysql_icos_password }}
    volumes:
      - ../db:/var/lib/mysql/:rw
    restart: unless-stopped
volumes:
  vendor: