server {
  listen       443 ssl;
  server_name  {{ domain }};

  {{ certbot_nginx_conf | indent(2) }}

{% if website == "cp" %}
  location = /license {
    return 301 https://data.icos-cp.eu/licence;
  }

  location = /site {
    return 301 https://www.icos-cp.eu;
  }

  location = /site/ {
    return 301 https://www.icos-cp.eu;
  }
{% endif %}

  client_max_body_size 256M;

  location ~ /.well-known {
    root /usr/share/nginx/html;
  }

  location /cp_login {
    return 403;
  }

  location / {
    if ($arg_q ~* "^user"){
      return 403;
    }
    if ($arg_login) {
      proxy_pass http://127.0.0.1:8080;
    }

    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $remote_addr;

    proxy_pass http://127.0.0.1:{{ drupal_docker_port }};
  }
}

{% if website == "ac" %}
server {
  listen       80;
  server_name  {{ domain | replace("www.","") }} {{ domain }};
  return 301   https://{{ domain }}$request_uri;
}
server {
  listen       443 ssl;
  server_name  {{ domain | replace("www.","") }};

  {{ certbot_nginx_conf | indent(2) }}

  return 301   https://{{ domain }}$request_uri;
}
{% elif redirect_to_www | default(false) %}
server {
  listen       80;
  server_name  {{ domain | replace("www.","") }} {{ domain }};
  return 301   https://{{ domain }}$request_uri;
}

server {
  listen       443 ssl;
  server_name  {{ domain | replace("www.","") }};

  {{ certbot_nginx_conf | indent(2) }}

  return 301   https://{{ domain }}$request_uri;
}
{% else %}
server {
  listen       80;
  server_name  {{ domain }};
  return 301   https://{{ domain }}$request_uri;
}
{% endif %}
