server {
  listen       443 ssl;
  server_name  {{ domain }};

{% if certbot_install_certificate | default(true) %}
  ssl_certificate /etc/letsencrypt/live/{{ certbot_domains | first }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ certbot_domains | first }}/privkey.pem;
{% endif %}

{% if project_name == "ri" %}
  location =/science-conference {
    return 301 https://conference.icos-ri.eu/;
  }
{% elif project_name == "cp" %}
  location = /license {
    return 301 https://data.icos-cp.eu/licence;
  }

  location = /site {
    return 301 https://www.icos-cp.eu;
  }

  location = /site/ {
    return 301 https://www.icos-cp.eu;
  }
{% endif %}

  client_max_body_size 100M;

  location ~ /.well-known {
    root /usr/share/nginx/html;
  }

  location /cp_login {
    return 403;
  }

  location / {
    if ($arg_q ~* "^user"){
      return 403;
    }
    if ($arg_login) {
      proxy_pass http://127.0.0.1:8080;
    }

    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $remote_addr;

    proxy_pass http://127.0.0.1:{{ drupal_docker_port }};
  }
}

{% if project_name == "ac" %}
server {
  listen       80;
  server_name  ac.icos-cp.eu {{ domain | replace("www.","") }} {{ domain }};
  return 301   https://{{ domain }}$request_uri;
}
server {
  listen       443 ssl;
  server_name  ac.icos-cp.eu {{ domain | replace("www.","") }};

{% if certbot_install_certificate | default(true) %}
  ssl_certificate /etc/letsencrypt/live/{{ certbot_domains | first }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ certbot_domains | first }}/privkey.pem;
{% endif %}

  return 301   https://{{ domain }}$request_uri;
}
{% elif project_name == "ri" or project_name == "cp" or project_name == "fi" %}
server {
  listen       80;
  server_name  {{ domain | replace("www.","") }} {{ domain }};
  return 301   https://{{ domain }}$request_uri;
}

server {
  listen       443 ssl;
  server_name  {{ domain | replace("www.","") }};

{% if certbot_install_certificate | default(true) %}
  ssl_certificate /etc/letsencrypt/live/{{ certbot_domains | first }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ certbot_domains | first }}/privkey.pem;
{% endif %}

  return 301   https://{{ domain }}$request_uri;
}
{% else %}
server {
  listen       80;
  server_name  {{ domain }};
  return 301   https://{{ domain }}$request_uri;
}
{% endif %}
