- name: Check type of deployment
  assert:
    that: exploredata_type in ('prod', 'test')
    quiet: true

- name: Synchronize notebooks
  synchronize:
    src: "{{ exploredata_src }}/"
    dest: "{{ exploredata_home }}/build.notebook/"
    delete: yes

- name: Build the notebook image
  docker_image:
    name: "{{ exploredata_notebook_image }}"
    source: build
    force_source: yes
    build:
      dockerfile: "{{ exploredata_home }}/build.notebook/exploredata/Dockerfile"
      path: "{{ exploredata_home }}/build.notebook"
      # Since we use a specific sha256 tag when building exploredata, docker
      # will pull anyway.
      pull: no
