restheart:
  image: softinstigate/restheart:3.0.2
  links:
   - mongodb
  ports:
   - "127.0.0.1:8088:8080"
  volumes:
   - "./security.yml:/opt/restheart/etc/security.yml:ro"
mongodb:
  image: mongo:3.4
  volumes:
   - "./storage:/data/db"
   - "/etc/localtime:/etc/localtime:ro"
