#alfresco_reader { padding-top:20px; padding-right: 20px; }

.block_title {  }

.alfresco_reader .small_text { font-size: 80%; }

.alfresco_reader .panel-heading h3 img { width: 50px; float: right; }
