////////////////////////
// Layouts - Page Partial
////////////////////////

.display.small-on-top {

  > .grid-wrapper {
    clear: both;
    overflow: hidden;
    > .grid-container {
      max-width: $max-width;
      margin: 0 auto;
    }
  }
  
  .region {

    // Give some vertical space for all the regions
    > .region-inner {
      padding: $gutter-large / 2 0;
    }

    &.title {
      // Ingress field
      summary {
        .field-ingress {
          padding: $rem-spacing $gutter-large / 2;
        }
      }
    }

    // Larger gutter for main regions
    @include layout($gutter: $gutter-large) {

      // Base grid for gutters
      @include grid-span(12, 1);

      @include from(m) {

        // 2 columns first region
        &.col_2_1 {
          @include grid-span(6, 1);
        }
        // 2 columns second region
        &.col_2_2 {
          @include grid-span(6, 7);
        }

      }

      @include from(l) {

        // 2/1 top first region
        &.top_2_1_1 {
          @include grid-span(8, 1);
        }
        // 2/1 top second region
        &.top_2_1_2 {
          @include grid-span(4, 9);
        }

        // 3 columns first region
        &.col_3_1 {
          @include grid-span(4, 1);
        }
        // 3 columns second region
        &.col_3_2 {
          @include grid-span(4, 5);
        }
        // 3 columns third region
        &.col_3_3 {
          @include grid-span(4, 9);
        }

        // 2/1 bottom first region
        &.bottom_2_1_1 {
          @include grid-span(8, 1);
        }
        // 2/1 bottom second region
        &.bottom_2_1_2 {
          @include grid-span(4, 9);
        }

      }

    }

  }
}