////////////////////////
// Layouts - Tabs Partial
////////////////////////

// Vertical tabs
div.vertical-tabs {
  .vertical-tabs-list {
    padding: $rem-spacing;
    .vertical-tab-button {
      padding: $rem-spacing 0;
      a {
        display: inline-block;
        width: 100%;
        padding: $rem-spacing;
      }
    }
  }
  .vertical-tabs-panes {
    padding: 2 * $rem-spacing;
  }
  @include from(l) {
    .vertical-tabs-list {
      @include grid-span(4, 1);
      padding: $rem-spacing 2 * $rem-spacing;
    }
    .vertical-tabs-panes {
      @include grid-span(8, 5);
      padding: 2 * $rem-spacing;
    }
  }
}