cpauth{
	http.drupalProxying {
		"www.icos-cp.eu": {ipv4Host: "127.0.0.1", path: "/cp_login/", port: 8107}
		"otc.icos-cp.eu": {ipv4Host: "127.0.0.1", path: "/cp_login/", port: 8109}
		"no.icos-cp.eu": {ipv4Host: "127.0.0.1", path: "/cp_login/", port: 8108}
		"ac.icos-cp.eu": {ipv4Host: "127.0.0.1", path: "/cp_login/", port: 8111}
	}

	mailing{
		password = "{{ cpauth_mailing_pass }}"
	}

	{{ cpauth_oauth_conf | indent}}
}

