- include_role: name=icos.certbot

- name: Install certbotproxy config for {{ certbot_conf_name }}
  template:
    src: certbotproxy-nginx-config.j2
    dest: "/etc/nginx/conf.d/{{ certbot_conf_name }}.conf"
  notify: reload nginx config
