- name: Create STILT user
  user:
    name: stilt
    groups: docker
    append: true

- name: List docker images
  command: docker images -qa
  register: docker_images
  tags: deploy
  changed_when: False

- block:
    - name: Download baseimage
      get_url:
        url: "{{ stilt_baseimage_url }}"
        dest: "{{ stilt_baseimage_tmp_fname }}"
    - name: Load baseimage into docker
      command: docker load -i "{{ stilt_baseimage_tmp_fname }}"
  become: True
  become_user: stilt
  when: "stilt_baseimage_imageid not in docker_images.stdout"
  tags: deploy

- name: Clone infrastructure repo
  become: True
  become_user: stilt
  git:
    repo: "{{ stilt_repo_url }}"
    dest: "{{ stilt_repo_dir }}"
    version: "{{ stilt_repo_ver }}"
  register: stilt_updated
  tags: deploy

- block:
    - name: Build production image
      become: True
      become_user: stilt
      command: docker build -t "{{ stilt_prodimage_tag }}" .
      args:
        chdir: "{{ stilt_repo_dir }}/stilt/custom/"

    - name: Remove existing docker container
      command: docker rm -f {{ stilt_prodcont_tag }}

    - name: Start new docker container
      command: docker run -v /mnt/additional_disk/WORKER/Input:/opt/STILT_modelling/Input:ro -v /mnt/additional_disk/WORKER/Output:/opt/STILT_modelling/Output --name {{ stilt_prodcont_tag }} -dt {{ stilt_prodimage_tag }}
  # Only re-create production container when the git repository has changed.
  when: stilt_updated.changed == true
  tags: deploy

# Tried using ansible's docker_image module but ran into this error.
#    Error building webstilt_nc_production - code: None message: Invalid
#    repository name
#    (ce9d61cb8e6d87dff5fa7226967fe3445897cf9827bd3a4d2232df3b48bf778e), cannot
#    specify 64-byte hexadecimal strings"}
# docker_image:
#   name: "{{ stilt_prodimage_tag }}"
#   state: present
#   build_path: "{{ stilt_repo_dir }}/stilt/custom/"
