[Unit]
Description=ICOS metadata service
After=network.target

[Service]
Type=simple
User={{ cpmeta_user }}
ExecStart=/usr/bin/java -jar "{{ jarservice_jar }}"
Restart=always
RestartSec=30
WorkingDirectory=/home/{{ cpmeta_user }}

[Install]
WantedBy=multi-user.target
