////////////////////////
// States - Footer Partial
////////////////////////

#footer {
  .button {
    a:hover {
      color: $default-theme-color-grey;
      background: $grey-5;
    }
  }
  a:hover {
    color: $grey-5;
  }
}