////////////////////////
// States - Main Menu Partial
////////////////////////

// Main menu first level
#block-menu-block-2 {
  ul.menu {
    li, li.leaf {
      @include from(l) {
        &.has-children {
          a.active, a.active-trail {
            @include style-arrow(bottom);
          }
        }
      }
      a:hover, a.active, a.active-trail {
        @include style-theme-background-color();
      }
    }
  }
}

// Main menu second level
#block-menu-block-1 {
  ul.menu {
    li, li.leaf {
      a:hover, a.active, a.active-trail {
        color: $default-theme-color-text;
      }
    }
  }
}
