<?php

$db_server = '{{ vault_sites_stations_mysql_server }}';
$db_user = '{{ vault_sites_stations_mysql_user }}';
$db_password = '{{vault_sites_stations_mysql_password}}';

$mail_host = '{{ vault_sites_stations_mail_host }}';
$mail_username = '{{ vault_sites_stations_mail_username }}';
$mail_password = '{{ vault_sites_stations_mail_password }}';
$mail_sender = 'SITES Application';
$mail_email = '{{ vault_sites_stations_mail_email }}';
