# /etc/systemd/system/stiltcluster.service
[Unit]
Description=STILT cluster node
After=network.target

[Service]
Type=simple
User=stiltcluster
ExecStart=/usr/bin/java -jar {{ installed_jarfile.dest }}
Restart=always
RestartSec=30
WorkingDirectory=/home/stiltcluster

[Install]
WantedBy=multi-user.target
