[Unit]
Description=ICOS authentication service
After=network.target

[Service]
Type=simple
User=cpauth
ExecStart=/bin/java -jar "/home/cpauth/cpauth/target/scala-2.11/Carbon Portal Authentication Service-assembly-0.4.jar"
Restart=on-abort
WorkingDirectory=/home/cpauth/cpauth

[Install]
WantedBy=multi-user.target
