---
- name: Check if backup script exists
  stat:
    path: "{{ backup_path }}/backup_server.sh"
  register: backup_exists

- block:
  - name: Create backup directories
    file:
      path: "{{ backup_path }}/{{ project_name }}Drupal/{{ item }}"
      state: directory
    with_items:
      - files
      - db

  - name: Install backup script
    template:
      src: backup.sh
      dest: "{{ backup_path }}/{{ project_name }}Drupal/{{ project_name }}DrupalBackupScript.sh"
      mode: u+x

  - name: Add backup script call in backup_server.sh
    blockinfile:
      path: "{{ backup_path }}/backup_server.sh"
      block: |
        printf "\n####################################\n\n"

        ./{{ project_name }}Drupal/{{ project_name }}DrupalBackupScript.sh
      marker: "# {mark} ANSIBLE MANAGED BLOCK FOR {{ project_name | upper }}"
      insertbefore: ./copy_offsite.sh
  when: backup_exists.stat.exists
